@import "../../../../assets/styles/breakpoints";
@import "../../../../assets/styles/keyframes";

.container-fluid {
  padding: 8px 34px;

  @media screen and (max-width: $tablet-medium - 1px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  np-process-toolbar {
    display: block;
  }
}

np-bpmn-editor {
  display: block;
  overflow-x: hidden;
}

.saving-state {
  display: inline-flex;
  color: var(--np-roman-silver);

  &.autosaving {
    &:after {
      display: inline-block;
      animation: dotty steps(1, end) 1s infinite;
      content: '';
    }
  }
}


