@import "../../../../assets/styles/breakpoints";
@import "../../../../assets/styles/keyframes";

.container-fluid {
  padding: 8px 34px;

  @media screen and (max-width: $tablet-medium - 1px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  np-process-toolbar {
    display: block;
  }
}

np-bpmn-editor, np-xml-editor {
  display: block;
  overflow-x: hidden;
}

.saving-state {
  display: inline-flex;
  color: var(--np-roman-silver);

  &.autosaving {
    &:after {
      display: inline-block;
      animation: dotty steps(1, end) 1s infinite;
      content: '';
    }
  }
}

button {
  &.xml-mode-button {
    position: fixed;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    font-size: 13px;
    border: solid 1px #cccccc;
    cursor: pointer;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-bottom: 0;
    border-left: 0;
    z-index: 10;

    &.active {
      background: #4d90ff;
      color: #ffffff;
    }

    &:not(.active):hover {
      background: #ececec;
    }
  }
}
