@import "../../../../assets/styles/breakpoints";
@import "../../../../assets/styles/mixins";

header {
  background: var(--np-primary-white);
  @include headerMainHeight;
  overflow: hidden;

  .container-fluid {
    @media screen and (max-width: $tablet-medium - 1px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @include headerRow {
      .logo-col {
        flex: 0 0 108px;
        max-width: 108px;
        text-align: center;

        @media screen and (max-width: $tablet-medium - 1px) {
          flex: 0 0 78px;
          max-width: 78px;
        }
      }
      .tabs-col {
        max-width: calc(100% - 108px - 165px - 70px - 54px);
        transition: var(--np-base-transition);
        overflow-x: hidden;

        @media screen and (max-width: $tablet-medium - 1px) {
          max-width: calc(100% - 78px - 125px - 39px - 50px);
        }

        &.search-form-stretched {
          max-width: calc(100% - 108px - 530px - 70px - 54px);

          @media screen and (max-width: $laptop) {
            max-width: calc(100% - 108px - 380px - 70px - 54px);
          }

          @media screen and (max-width: $notebook) {
            max-width: calc(100% - 108px - 280px - 70px - 54px);
          }

          @media screen and (max-width: $tablet-medium - 1px) {
            max-width: calc(100% - 78px - 190px - 39px - 50px);
          }
        }
      }
      a {
        &.profile-col {
          cursor: pointer;
          @include headerMainHeight;
          display: inline-flex;
          align-items: center;
          transition: var(--np-base-transition);

          &:hover {
            background: var(--np-white-lilac);
          }
        }
      }
    }
  ;
  }

  @include headerTab;
}
