@import "../../../../../assets/styles/breakpoints";

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  margin: 0;
  line-height: 1.35;
  font-weight: 500;

  @media screen and (max-width: $tablet-medium - 1px) {
    font-size: 20px;
  }

  li {
    display: inline-flex;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none !important;
      color: var(--np-black);
      transition: var(--np-base-transition);

      &:hover {
        color: var(--np-gunmetal);
      }
    }

    span {
      color: var(--np-roman-silver);

      &:before {
        content: '/';
      }
    }

    button {
      background: none;
      border: none;
      padding: 0;
      display: inline-flex;
      align-items: center;
      color: var(--np-roman-silver);
      cursor: pointer;
      transition: var(--np-base-transition);

      &:hover {
        color: var(--np-pale-sky);
      }

      mat-icon {
        width: 32px;
        height: 32px
      }
    }
  }
}
