@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/breakpoints";

@include headerRow;
@include headerTab {
  .entity-name {
    font-size: 14px;
    color: var(--np-roman-silver);
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    transition: var(--np-base-transition);

    @media screen and (max-width: $tablet-medium - 1px) {
      font-size: 12px;
    }

    & + button {
      margin-left: 12px;

      @media screen and (max-width: $tablet-medium - 1px) {
        margin-left: 8px;
      }
    }
  }

  &.process-tab {
    &:hover {
      .entity-name {
        color: var(--np-gunmetal);
      }
    }
  }

  button {
    min-width: auto;
    padding: 0;
    height: 24px;
    line-height: 24px;
    flex: 0 0 24px;
    max-width: 24px;
    transition: var(--np-base-transition);

    &:not(.visible) {
      opacity: 0;
      visibility: hidden;
      line-height: 0;
      margin-left: 0;
    }

    @media screen and (max-width: $tablet-medium - 1px) {
      height: 20px;
      flex: 0 0 20px;
      max-width: 20px;
      line-height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.container-fluid {
  @media screen and (max-width: $tablet-medium - 1px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    overflow: hidden;
    position: relative;

    .hidden-processes-menu-col {
      flex: 0 0 56px;
      max-width: 56px;
      text-align: center;
      background: linear-gradient(
          270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
      @include headerMainHeight;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 32px;
        height: 32px;
        background: var(--np-ghost-white);
        border-radius: 10px;
      }
    }

    .mat-menu-helper {
      position: absolute;
      bottom: 0;
      left: calc(((250px - 56px) / 2) + 56px);
      display: inline-block;

      @media screen and (max-width: $tablet-medium - 1px) {
        left: calc(((200px - 56px) / 2) + 56px);
      }
    }
  }
}
