@import "../../../../../assets/styles/breakpoints";
@import "../../../../../assets/styles/mixins";

.bpmn-editor-wrapper {
  display: flex;
  position: relative;
  border-right: 0;
  border-top: 1px;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--np-silver-sand);
  @include processComponent;

  #bpmn-canvas {
    height: 100%;
    flex: 1;
  }

  #bpmn-properties {
    height: 100%;
    border-left: 1px solid var(--np-silver-sand);
    flex: 0 0 auto;
    position: relative;

    .bpmn-properties-toggle-btn {
      position: absolute;
      left: -31px;
      top: 50%;
      background: #f8f8f8;
      padding: 0 10px;
      transform: rotate(-90deg);
      white-space: nowrap;
      font-size: 13px;
      border: solid 1px #cccccc;
      border-bottom: none;
      border-radius: 2px 2px 0 0;
      transform-origin: top left;
      z-index: 10;
      cursor: pointer;
      user-select: none;
      line-height: 30px;
      height: 30px;

      &:hover {
        background: #ececec;
      }
    }
  }
}

ol {

  &.colors-palette {
    margin-bottom: 0;
    max-width: 100px;

    li {
      button {
        &.mat-menu-item {
          padding: 6px;
          height: auto;
          width: auto;
          margin: 0 auto;

          &:disabled {
            opacity: 0.2;
          }
        }

        .color-scheme-sample {
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid;
          border-radius: 2px;

          @media screen and (max-width: $tablet-medium - 1px) {
            width: 16px;
            height: 16px;
            border-width: 1px;
          }
        }
      }
    }
  }
}

.bpmn-bad-actions {
  position: absolute;
  visibility: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  button {
    width: 1px;
    height: 1px;
    padding: 0;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
  }
}
