@import "../../../../../../assets/styles/breakpoints";

span {
  border-radius: 50%;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  user-select: none;

  @media screen and (max-width: $tablet-medium - 1px) {
    font-size: 11px;
  }

  &.initials {
    display: inline-block;
    text-align: center;
  }

  &.avatar {
    display: inline-flex;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &.sm {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  &.md {
    width: 40px;
    height: 40px;
    line-height: 40px;

    @media screen and (max-width: $tablet-medium - 1px) {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

  &.light {
    background: var(--np-whisper);
    color: var(--np-roman-silver);

    &.selected {
      box-shadow: inset 0 0 0 1px var(--np-roman-silver);
    }
  }

  &.dark {
    background: var(--np-gunmetal);
    color: var(--np-primary-white);
  }
}
