<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Buttons</h1>
    </div>
    <div class="col-md-4 col-12">
      <h6>Primary</h6>
      <div class="button-group">
        <span class="button-label">
          Default
        </span>
        <np-button
          [type]="'primary'"
          [enableMinWidth]="true">
          <span>Primary button</span>
        </np-button>
      </div>
      <div class="button-group">
        <span class="button-label">
          Disabled
        </span>
        <np-button
          [type]="'primary'"
          [enableMinWidth]="true"
          [disabled]="true">
          Primary button
        </np-button>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <h6>Secondary</h6>
      <div class="button-group">
        <span class="button-label">
          Default
        </span>
        <np-button
          [type]="'secondary'"
          [enableMinWidth]="true">
          Secondary button
        </np-button>
      </div>
      <div class="button-group">
        <span class="button-label">
          Disabled
        </span>
        <np-button
          [type]="'secondary'"
          [enableMinWidth]="true"
          [disabled]="true">
          Secondary button
        </np-button>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <h6>Primary with context menu</h6>
      <div class="button-group">
        <span class="button-label">
          Default
        </span>
        <np-button [matMenuTriggerFor]="menu">
          <span>Click me</span>
          <mat-icon>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.88 9.29L12 13.17L8.11998 9.29C7.72998 8.9 7.09998 8.9 6.70998 9.29C6.31998 9.68 6.31998 10.31 6.70998 10.7L11.3 15.29C11.69 15.68 12.32 15.68 12.71 15.29L17.3 10.7C17.69 10.31 17.69 9.68 17.3 9.29C16.91 8.91 16.27 8.9 15.88 9.29Z"
                fill="white"/>
            </svg>
          </mat-icon>
        </np-button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M10.59 4.12688C10.21 3.72313 9.7 3.5 9.17 3.5H4C2.9 3.5 2.01 4.45625 2.01 5.625L2 18.375C2 19.5438 2.9 20.5 4 20.5H20C21.1 20.5 22 19.5438 22 18.375V7.75C22 6.58125 21.1 5.625 20 5.625H12L10.59 4.12688Z"
                    fill="#B8C1CB"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
            <span>
              Item 1
            </span>
          </button>
          <button mat-menu-item>
            <mat-icon>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M10.59 4.12688C10.21 3.72313 9.7 3.5 9.17 3.5H4C2.9 3.5 2.01 4.45625 2.01 5.625L2 18.375C2 19.5438 2.9 20.5 4 20.5H20C21.1 20.5 22 19.5438 22 18.375V7.75C22 6.58125 21.1 5.625 20 5.625H12L10.59 4.12688Z"
                    fill="#B8C1CB"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </mat-icon>
            <span>
              Item 2
            </span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="col-12">
      <h1>Inputs</h1>
    </div>
    <div class="col-md-4 col-12">
      <h6>Default</h6>
      <np-input
        [label]="'Name'">
      </np-input>
    </div>
    <div class="col-md-4 col-12">
      <h6>Disabled</h6>
      <np-input
        [label]="'Name'"
        [disabled]="true">
      </np-input>
    </div>
    <div class="col-12">
      <h3>Search</h3>
    </div>
    <div class="col-md-4 col-12">
      <h6>Default</h6>
      <np-input
        [placeholder]="'common.search' | translate"
        [type]="'search'">
      </np-input>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4 col-12">
          <h3>Tooltip</h3>
          <span matTooltip="Tooltip example"
                matTooltipClass="{{tooltip.position}}"
                #tooltip="matTooltip">
            Hover me
          </span>
        </div>
        <div class="col-md-4 col-12">
          <h3>Statuses</h3>
          <np-status-pill
            [status]="statuses.DRAFT">
          </np-status-pill>
          <np-status-pill
            [status]="statuses.EDITED">
          </np-status-pill>
          <np-status-pill
            [status]="statuses.LAUNCHED">
          </np-status-pill>
        </div>
        <div class="col-md-4 col-12">
          <h3>Avatars</h3>
          <div class="row">
            <div class="col-md-6 col-12">
              <h6>Initials</h6>
              <np-avatar
                [type]="'initials'"
                [size]="'sm'"
                [data]="'MO'">
              </np-avatar>
              <np-avatar
                [type]="'initials'"
                [size]="'md'"
                [data]="'MO'">
              </np-avatar>
              <np-avatar
                [type]="'initials'"
                [size]="'sm'"
                [data]="'MO'"
                [theme]="'dark'">
              </np-avatar>
              <np-avatar
                [type]="'initials'"
                [size]="'md'"
                [data]="'MO'"
                [theme]="'dark'">
              </np-avatar>
            </div>
            <div class="col-md-6 col-12">
              <h6>Avatar</h6>
              <np-avatar
                [data]="'/assets/images/random-user.jpg'"
                [type]="'avatar'"
                [size]="'sm'">
              </np-avatar>
              <np-avatar
                [data]="'/assets/images/random-user.jpg'"
                [type]="'avatar'"
                [size]="'md'">
              </np-avatar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
