.container {
  padding-bottom: 40px;

  h1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .button-group {
    .button-label {
      color: var(--np-roman-silver);
      font-size: 14px;
      display: block;
      margin-bottom: 5px;
    }

    & + .button-group {
      margin-top: 14px;
    }
  }

  np-status-pill {
    & + np-status-pill {
      margin-left: 16px;
    }
  }

  np-avatar {
    & + np-avatar {
      margin-left: 5px;
    }
  }
}
