.mat-dialog-title {
  margin: 0 0 32px !important;
  padding-bottom: 16px;
  position: relative;

  &:after {
    content: '';
    width: calc(100% + 64px);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -32px;
    right: -32px;
    background: var(--np-catskill-white);
  }
}

mat-dialog-content {
  margin-bottom: -24px;

  form {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;

    .form-group {
      flex: 1;

      .merged-fields {
        mat-form-field {
          &:nth-child(1) {
            flex: 0 0 60%;
            max-width: 60%;
          }

          &:nth-child(2) {
            flex: 0 0 40%;
            max-width: 40%;
            display: inline-flex;
            align-items: center;
          }
        }
      }
    }

    .form-action {
      padding-left: 16px;
      margin: 1px 0;
    }
  }

  .workgroup-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;

    mat-spinner {
      margin-right: 1em;
    }

    p {
      color: var(--np-roman-silver);
      margin: 0;
    }
  }

  ul {
    margin-bottom: 0;

    li + li {
      margin-top: 16px;
    }
  }

  .workgroup-default-permission-toggle {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      color: var(--np-black);
    }
  }
}

mat-dialog-actions {
  position: relative;

  &:after {
    content: '';
    width: calc(100% + 64px);
    height: 1px;
    position: absolute;
    top: 0;
    left: -32px;
    right: -32px;
    background: var(--np-catskill-white);
  }

  h6 {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;

    mat-icon {
      margin-right: 10px;
    }
  }

  p {
    color: var(--np-roman-silver);
    margin-bottom: 16px;
  }
}
