<ng-container *ngIf="type === 'default'">
  <button
    mat-button
    [type]="btnType"
    [class]="size"
    [ngClass]="{
      'min-width-auto': autoMinWidth,
      'min-width': minWidth
    }"
    [disabled]="disabled">
    <ng-container
      [ngTemplateOutlet]="innerContent">
    </ng-container>
  </button>
</ng-container>
<ng-container *ngIf="type === 'primary'">
  <button
    mat-flat-button
    color="primary"
    [type]="btnType"
    [class]="size"
    [ngClass]="{
      'min-width-auto': autoMinWidth,
      'min-width': minWidth
    }"
    [disabled]="disabled">
    <ng-container
      [ngTemplateOutlet]="innerContent">
    </ng-container>
  </button>
</ng-container>
<ng-container *ngIf="type === 'secondary'">
  <button
    mat-stroked-button
    color="primary"
    [type]="btnType"
    [class]="size"
    [ngClass]="{
      'min-width-auto': autoMinWidth,
      'min-width': minWidth
    }"
    [disabled]="disabled">
    <ng-container
      [ngTemplateOutlet]="innerContent">
    </ng-container>
  </button>
</ng-container>

<ng-template #innerContent>
  <ng-content></ng-content>
</ng-template>
