<div mat-dialog-title>
  <h4>{{'common.rename' | translate}}</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div
      class="form-group mb-0"
      [ngClass]="{
         'has-errors': form.get(formControlName.ENTITY_NAME).touched && form.get(formControlName.ENTITY_NAME).invalid
      }">
      <mat-label>
        <ng-container *ngIf="isFolder">
          {{'common.folderName' | translate}}
        </ng-container>
        <ng-container *ngIf="isProcess">
          {{'common.processName' | translate}}
        </ng-container>
      </mat-label>
      <mat-form-field
        appearance="outline"
        floatLabel="never">
        <input
          id="entity-name-field"
          type="text"
          matInput
          [formControlName]="formControlName.ENTITY_NAME"
          [attr.name]="formControlName.ENTITY_NAME"
          [placeholder]="'common.entityName' | translate">
        <mat-error *ngIf="form.get(formControlName.ENTITY_NAME).invalid">
          <ng-container *ngIf="form.get(formControlName.ENTITY_NAME).hasError('required')">
            {{'errors.required' | translate}}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <np-button
    id="close-modal-btn"
    [minWidth]="true"
    [btnType]="'reset'"
    [type]="'secondary'"
    (click)="closeModal()">
    {{'common.cancel' | translate}}
  </np-button>
  <np-button
    id="submit-form-btn"
    [minWidth]="true"
    [btnType]="'submit'"
    [type]="'primary'"
    [disabled]="form.invalid"
    (click)="formSubmit()">
    <span>
      {{'common.save' | translate}}
    </span>
  </np-button>
</mat-dialog-actions>
