<div
  mat-dialog-title
  class="d-flex justify-content-between align-items-center">
  <h4 class="mb-0">{{'common.grantAccess' | translate}}</h4>
  <button
    class="min-width-auto p-0"
    mat-button
    (click)="closeModal()">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18.3 5.7107C17.91 5.3207 17.28 5.3207 16.89 5.7107L12 10.5907L7.10997 5.7007C6.71997 5.3107 6.08997 5.3107 5.69997 5.7007C5.30997 6.0907 5.30997 6.7207 5.69997 7.1107L10.59 12.0007L5.69997 16.8907C5.30997 17.2807 5.30997 17.9107 5.69997 18.3007C6.08997 18.6907 6.71997 18.6907 7.10997 18.3007L12 13.4107L16.89 18.3007C17.28 18.6907 17.91 18.6907 18.3 18.3007C18.69 17.9107 18.69 17.2807 18.3 16.8907L13.41 12.0007L18.3 7.1107C18.68 6.7307 18.68 6.0907 18.3 5.7107Z"
        fill="#B8C1CB"/>
    </svg>
  </button>
</div>
<mat-dialog-content>
  <form
    [formGroup]="form"
    (submit)="formSubmit()">
    <div class="form-group mb-0">
      <div
        #mergedFields
        class="merged-fields">
        <mat-form-field
          class="mb-0"
          appearance="outline"
          floatLabel="never"
          (click)="selectedUsers?.length ? usersInput.focus() : undefined">
          <mat-chip-list
            #chipList
            [ngClass]="{'has-chips': selectedUsers?.length}">
            <mat-chip
              *ngFor="let user of selectedUsers"
              [selectable]="false"
              [removable]="true"
              (removed)="usernameRemove(user)">
              <np-avatar
                [data]="(user?.lastName + ' ' + user?.firstName) | acronym : 2"
                [size]="'xs'"
                [type]="'initials'"
                npUserInfoTooltip
                [npUserInfoTooltipUsername]="user.username">
              </np-avatar>
              {{user?.lastName}}
              <mat-icon matChipRemove>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 1.5C4.8525 1.5 1.5 4.8525 1.5 9C1.5 13.1475 4.8525 16.5 9 16.5C13.1475 16.5 16.5 13.1475 16.5 9C16.5 4.8525 13.1475 1.5 9 1.5ZM12.75 11.6925L11.6925 12.75L9 10.0575L6.3075 12.75L5.25 11.6925L7.9425 9L5.25 6.3075L6.3075 5.25L9 7.9425L11.6925 5.25L12.75 6.3075L10.0575 9L12.75 11.6925Z"
                        fill="#8A95A3"/>
                </svg>
              </mat-icon>
            </mat-chip>
            <input
              #usersInput
              [placeholder]="selectedUsers?.length ? '' : ('common.enterEmailOrName' | translate)"
              [formControlName]="formControlName.SEARCH"
              [attr.name]="formControlName.SEARCH"
              [matAutocomplete]="usersAutocomplete"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="false"/>
            <mat-spinner
              *ngIf="searchLoader"
              matSuffix
              [diameter]="20">
            </mat-spinner>
          </mat-chip-list>
        </mat-form-field>
        <mat-form-field
          class="mb-0"
          appearance="outline"
          floatLabel="never"
          (click)="!formLoader ? permissionAutocompleteTrigger.openPanel() : undefined">
          <input
            type="text"
            matInput
            #permissionAutocompleteTrigger="matAutocompleteTrigger"
            [formControlName]="formControlName.PERMISSIONS"
            [attr.name]="formControlName.PERMISSIONS"
            [placeholder]="'common.permissions' | translate"
            [matAutocomplete]="permissionsAutocomplete"
            [readonly]="true">
          <mat-icon matSuffix>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.0336 9.60742L12.0803 14.6074L7.12695 9.60742" stroke="#B8C1CB" stroke-width="1.5"
                    stroke-linecap="round"/>
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form-action">
      <np-button
        [size]="'sm'"
        [btnType]="'submit'"
        [type]="'primary'"
        [disabled]="!selectedUsers?.length || formLoader">
        <span>
          {{'common.add' | translate}}
        </span>
        <mat-spinner
          *ngIf="formLoader"
          [diameter]="20">
        </mat-spinner>
      </np-button>
    </div>
  </form>
  <ul
    class="list-unstyled"
    *ngIf="workgroup">
    <ng-container *ngFor="let item of workgroup">
      <li *ngIf="item">
        <np-workgroup-user
          [folderId]="process?.parent?.id"
          [processId]="process?.id"
          [ownerPermissionId]="ownerPermissionId"
          [workgroup]="item">
        </np-workgroup-user>
      </li>
    </ng-container>
  </ul>
  <div
    *ngIf="workgroupLoader"
    class="workgroup-loader">
    <mat-spinner
      [diameter]="20">
    </mat-spinner>
    <p>{{'common.loading' | translate}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  class="justify-content-start"
  style="padding-top: 16px; display: none !important;">
  <h6>
    <mat-icon>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17 7H14C13.45 7 13 7.45 13 8C13 8.55 13.45 9 14 9H17C18.65 9 20 10.35 20 12C20 13.65 18.65 15 17 15H14C13.45 15 13 15.45 13 16C13 16.55 13.45 17 14 17H17C19.76 17 22 14.76 22 12C22 9.24 19.76 7 17 7ZM8 12C8 12.55 8.45 13 9 13H15C15.55 13 16 12.55 16 12C16 11.45 15.55 11 15 11H9C8.45 11 8 11.45 8 12ZM10 15H7C5.35 15 4 13.65 4 12C4 10.35 5.35 9 7 9H10C10.55 9 11 8.55 11 8C11 7.45 10.55 7 10 7H7C4.24 7 2 9.24 2 12C2 14.76 4.24 17 7 17H10C10.55 17 11 16.55 11 16C11 15.45 10.55 15 10 15Z"
          fill="#8A95A3"/>
      </svg>
    </mat-icon>
    {{'common.copyLink' | translate}}
  </h6>
  <p>{{'common.onlyUsersWithAccessHaveEditingPermission' | translate}}</p>
  <mat-form-field
    class="mb-0 copy-clipboard"
    appearance="outline"
    floatLabel="never">
    <input
      type="text"
      matInput
      [value]="currentUrl"
      [readonly]="true"
      disabled>
    <button
      class="min-width-auto p-0"
      mat-button
      matSuffix
      matTooltip="{{'common.copy' | translate}}"
      (click)="copyToClipboard($event)">
      <mat-icon>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 20H5V7C5 6.45 4.55 6 4 6C3.45 6 3 6.45 3 7V20C3 21.1 3.9 22 5 22H15C15.55 22 16 21.55 16 21C16 20.45 15.55 20 15 20ZM20 16V4C20 2.9 19.1 2 18 2H9C7.9 2 7 2.9 7 4V16C7 17.1 7.9 18 9 18H18C19.1 18 20 17.1 20 16ZM18 16H9V4H18V16Z"
            fill="#8A95A3"/>
        </svg>
      </mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-actions>

<mat-autocomplete
  [class]="'border-gutter'"
  [panelWidth]="mergedFields.offsetWidth"
  #usersAutocomplete="matAutocomplete"
  (optionSelected)="userSelected($event)">
  <ng-container *ngIf="usersInput?.value && filteredUsers?.length === 0; else usersListTemplate">
    <mat-option
      class="sm"
      disabled>
      {{'common.userNotFound' | translate}}
    </mat-option>
  </ng-container>
  <ng-template #usersListTemplate>
    <mat-option
      class="user"
      *ngFor="let user of filteredUsers"
      [value]="user?.username">
      <np-avatar
        [data]="(user?.lastName + ' ' + user?.firstName) | acronym : 2"
        [type]="'initials'"
        npUserInfoTooltip
        [npUserInfoTooltipUsername]="user.username">
      </np-avatar>
      <span>
      {{user?.lastName}} {{user?.firstName}}
        <small *ngIf="user?.email">
        {{user?.email}}
      </small>
    </span>
    </mat-option>
  </ng-template>
</mat-autocomplete>

<mat-autocomplete
  [class]="'border-gutter'"
  #permissionsAutocomplete="matAutocomplete"
  autoActiveFirstOption>
  <mat-option
    class="sm"
    *ngFor="let permission of permissions"
    [value]="'common.' + permission | translate">
    {{'common.' + permission | translate}}
  </mat-option>
</mat-autocomplete>
