@import "../../../../assets/styles/breakpoints";
@import "../../../../assets/styles/mixins";

.row {
  &.folders-row {
    margin: -12px;

    [class*=col] {
      padding: 12px;
    }
  }
}

h6 {
  color: var(--np-gunmetal);
}

.main-folders {
  margin-bottom: 48px;

  @media screen and (max-width: $tablet-medium - 1px) {
    margin-bottom: 30px;
  }
}

.folder-skeleton {
  height: 148px;
  width: 100%;
  display: block;
  padding: 16px;
  border-radius: 10px;
  @include skeleton;

  span {
    svg {
      path {
        fill: var(--np-desert-storm);
      }
    }

    &:nth-child(1) {
      width: 48px;
      height: 48px;
      display: inline-block;
      margin-bottom: 22px;
    }

    &:nth-child(2) {
      background: var(--np-desert-storm);
      height: 16px;
      display: block;
      margin-bottom: 14px;
      border-radius: 30px;
      width: 50%;
    }

    &:nth-child(3) {
      background: var(--np-desert-storm);
      height: 16px;
      display: block;
      border-radius: 30px;
      width: 75%;
    }
  }
}
