<div class="container-fluid">
  <div class="row justify-content-between align-items-center" style="margin-bottom: 12px">
    <div class="col-auto">
      <h3 class="mb-0">{{'common.catalog' | translate}}</h3>
    </div>
    <div class="col-auto">
      <np-create-entity-button
        (entityCreated)="getChapters()">
        <np-button>
          <span>{{'common.create' | translate}}</span>
          <mat-icon>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.88 9.29L12 13.17L8.11998 9.29C7.72998 8.9 7.09998 8.9 6.70998 9.29C6.31998 9.68 6.31998 10.31 6.70998 10.7L11.3 15.29C11.69 15.68 12.32 15.68 12.71 15.29L17.3 10.7C17.69 10.31 17.69 9.68 17.3 9.29C16.91 8.91 16.27 8.9 15.88 9.29Z"
                fill="white"/>
            </svg>
          </mat-icon>
        </np-button>
      </np-create-entity-button>
    </div>
  </div>
  <div class="row main-folders"
       *ngIf="loader || rootFolders">
    <div class="col-12">
      <h6>{{'common.mainFolders' | translate}}</h6>
      <div class="row folders-row">
        <ng-container
          *ngIf="loader; else rootFoldersTemplate">
          <div class="col-lg-3 col-6"
               *ngFor="let item of loaderHelper">
            <div class="folder-skeleton">
              <span>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M39.0588 14.3435H21.7412L19.7841 11.2424C19.296 10.469 18.4432 9.96436 17.5316 10.0377H3.85412C1.72094 10.0532 0 11.7868 0 13.92V39.1012C0.00258824 41.2417 1.73718 42.9762 3.87765 42.9788H39.0588C41.1993 42.9762 42.9339 41.2417 42.9365 39.1012V18.2212C42.9339 16.0807 41.1993 14.3461 39.0588 14.3435Z"
                    fill="#B5E3D8"/>
                  <path
                    d="M44.1459 9.32765H26.8236L23.3789 5.23354C23.263 5.09424 23.0894 5.01612 22.9083 5.02177H8.94125C7.00572 5.02495 5.36902 6.45483 5.10596 8.37236H17.8448C18.5128 8.37071 19.147 8.66554 19.5765 9.17707L22 12.6735H39.0589C42.1183 12.6787 44.5972 15.1577 44.6024 18.2171V37.9253C46.5422 37.6833 47.9985 36.0354 48.0001 34.0806V13.2006C47.995 11.0711 46.2754 9.34318 44.1459 9.32765Z"
                    fill="#B5E3D8"/>
                </svg>
              </span>
              <span></span>
              <span></span>
            </div>
          </div>
        </ng-container>
        <ng-template #rootFoldersTemplate>
          <div class="col-lg-3 col-6"
               *ngFor="let folder of rootFolders">
            <np-folder
              [folder]="folder"
              (entityCreated)="getChapters()">
            </np-folder>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="recentFiles?.length">
    <div class="col-12">
      <h6>{{'common.recently' | translate}}</h6>
    </div>
    <div class="col-12">
      <np-entities-table
        [displayedColumns]="tableDisplayedColumns"
        [data]="recentFiles"
        [tableClass]="'hide-details_tablets-and-below truncate-entity-name-45'">
      </np-entities-table>
    </div>
  </div>
</div>

