.no-results {
  min-height: calc(100vh - 148px);
}

np-entities-table {
  display: block;
  margin-top: 24px;
}

h3 {
  span {
    font-size: 20px;
    color: var(--np-roman-silver);
    font-weight: normal;
  }
}
