@import "../../../../../assets/styles/breakpoints";

a.folder {
  border-radius: 10px;
  background: var(--np-primary-white);
  padding: 16px;
  display: block;
  text-decoration: none !important;
  transition: var(--np-base-transition);
  box-shadow: 1px 1px 3px 0 transparent;

  &:hover {
    box-shadow: 1px 1px 3px 0 rgb(64 72 82 / 15%);
  }

  .folder-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    @media screen and (max-width: $tablet-medium - 1px) {
      margin-bottom: 15px;
    }

    mat-icon {
      width: auto;
      height: auto;
    }
  }

  .folder-body {
    margin-bottom: 6px;

    h6 {
      margin: 0;
      color: var(--np-gunmetal);
    }
  }

  .folder-footer {
    span {
      color: var(--np-silver-sand);
      font-size: 14px;

      @media screen and (max-width: $tablet-medium - 1px) {
        font-size: 13px;
      }
    }
  }
}
