@import "../../../../../assets/styles/breakpoints";

ul {
  display: flex;
  margin-bottom: 6px;

  li {
    & + li {
      margin-left: 8px;
    }

    button {
      font-weight: normal;
      font-size: 14px;
      padding: 0 8px;

      @media screen and (max-width: $tablet-medium - 1px) {
        font-size: 12px;
        min-width: auto;
        line-height: 30px;
      }

      &:not(:disabled) {
        color: var(--np-gunmetal);
      }

      &.menu-opened {
        background: var(--np-catskill-white-2);
      }

      &.icon-btn {
        min-width: auto;

        @media screen and (max-width: $tablet-medium - 1px) {
          padding: 0 4px;
        }

        mat-icon {
          svg {
            width: 20px;

            @media screen and (max-width: $tablet-medium - 1px) {
              width: 18px;
            }
          }
        }
      }
    }
  }
}
