<ul class="list-unstyled">
  <li *ngFor="let tool of tools">
    <button
      mat-button
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
      [ngClass]="{
        'menu-opened': menuTrigger.menuOpen
       }">
      {{'common.' + tool.name | translate}}
    </button>
    <mat-menu
      [class]="tool.name"
      class="toolbar-menu"
      #menu="matMenu">
      <ng-container *ngFor="let item of tool?.subItems">
        <mat-divider *ngIf="item.delimiterAfter"></mat-divider>
        <ng-container *ngIf="item.subItems?.length; else withoutSubItemsTemplate">
          <button
            mat-menu-item
            [matMenuTriggerFor]="subMenu">
            {{'common.' + item.name | translate}}
          </button>
          <mat-menu #subMenu="matMenu">
            <button mat-menu-item *ngFor="let subItem of item.subItems">
              {{subItem.name | uppercase}}
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #withoutSubItemsTemplate>
          <button mat-menu-item>
            {{'common.' + item.name | translate}}
          </button>
        </ng-template>
      </ng-container>
    </mat-menu>
  </li>
</ul>
