ul {
  display: flex;

  li {
    & + li {
      margin-left: 8px;
    }

    button {
      font-weight: normal;
      color: var(--np-gunmetal);
      font-size: 14px;
      padding: 0 8px;

      &.menu-opened {
        background: var(--np-catskill-white-2);
      }
    }
  }
}
