@import "../breakpoints";

np-bpmn-editor {
  .transparency-selections .djs-element.djs-shape.selected {
    opacity: 0.4;
  }
}

.bpp-properties-panel {
  height: 100%;

  &.closed {
    display: none !important;
  }
}

ul.bpp-properties-tabs-links {
  > li {
    &:not(.bpp-active) {
      > a {
        cursor: pointer;

        &:hover {
          background: #ececec;
        }
      }
    }
  }
}

.bjsl-button {
  border: 1px solid;
}


.bjs-container {
  border: none;
}

@media screen and (max-width: $tablet-medium - 1px) {
  .bjsl-button, .toggle-mode {
    font-size: 12px !important;
  }

  #bpmn-properties * {
    font-size: 12px !important;
  }

  .djs-palette .entry, .djs-palette .djs-palette-toggle {
    width: 38px;
    height: 38px;
    line-height: 30px;
    font-size: 20px !important;
  }
  .djs-palette {
    width: 40px;

    &.two-column {
      &.open {
        width: 78px !important;
      }
    }
  }
}
