@import "../breakpoints";

@mixin locked {
  pointer-events: none !important;
  user-select: none !important;
}

np-bpmn-editor {
  .transparency-selections .djs-element.djs-shape.selected {
    opacity: 0.4;
  }
}

.bpp-properties-panel {
  height: 100%;
  overflow-y: auto;

  &.closed {
    display: none !important;
  }
}

ul.bpp-properties-tabs-links {
  > li {
    &:not(.bpp-active) {
      > a {
        cursor: pointer;

        &:hover {
          background: #ececec;
        }
      }
    }
  }
}

.bjsl-button {
  border: 1px solid;
  display: none;
}


.bjs-container {
  border: none;
}

@media screen and (max-width: $tablet-medium - 1px) {
  .bjsl-button, .toggle-mode {
    font-size: 12px !important;
  }

  #bpmn-properties * {
    font-size: 12px !important;
  }

  .djs-palette .entry, .djs-palette .djs-palette-toggle {
    width: 38px;
    height: 38px;
    line-height: 30px;
    font-size: 20px !important;
  }
  .djs-palette {
    width: 40px;

    &.two-column {
      &.open {
        width: 78px !important;
      }
    }
  }
}

.show-scheme-validator {
  .bjsl-button {
    display: inline-flex;
  }
}

.toggle-mode {
  display: none;
}

.show-token-simulation {
  .toggle-mode {
    display: block;
  }
}

.djs-palette {
  transition: var(--np-base-transition);
  opacity: 1;
  visibility: visible;

  &:not(.show) {
    opacity: 0;
    visibility: hidden;
  }

  .entry {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.svg-icon {
      &:before {
        content: "";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &.color-palette {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.03515 12.1843C3.03515 8.80789 5.03242 5.63147 7.96739 3.99322C11.0894 2.25058 15.2904 2.50398 18.148 4.66532C19.8044 5.9183 21.6413 8.15933 21.4987 10.3686C21.4409 11.2634 20.9438 12.0323 20.2675 12.5983C19.3258 13.3863 18.2982 13.311 17.1634 13.531C16.0315 13.7505 15.2138 13.9091 15.0067 14.3252C14.8543 14.6314 15.0731 15.1936 15.4704 16.2139C15.7345 16.8919 16.309 17.6249 16.2694 18.3745C16.2265 19.2012 15.651 19.9633 14.5591 20.6396C12.5743 21.8689 9.75956 21.424 7.85038 20.4379C4.92003 18.9244 3.03536 15.5995 3.03515 12.1843C3.03536 15.5995 3.03515 11.7176 3.03515 12.1843ZM20.6817 10.1734C20.6817 8.62448 19.2657 6.53943 17.6531 5.31968C15.2148 3.47541 11.7961 3.18269 9.01583 4.39265C6.41322 5.52534 4.3898 8.10759 3.95346 10.9102C3.40299 14.445 5.20019 18.1458 8.22683 19.7091C9.87513 20.5604 12.4246 20.9966 14.1271 19.9422C15.1855 19.2867 15.4308 18.7047 15.4501 18.332C15.4783 17.7687 14.9067 17.0271 14.706 16.5117C14.2237 15.2733 13.9579 14.5911 14.2722 13.9597C14.6598 13.181 15.5936 12.9998 17.0073 12.7258C17.8897 12.5546 18.7603 12.6664 19.5358 12.1249C20.184 11.6721 20.6817 10.9874 20.6817 10.1734Z' fill='%23333333'/%3E%3Cpath d='M10.0584 17.6349C10.0584 16.6294 10.8764 15.8114 11.8819 15.8114C12.8874 15.8114 13.7054 16.6294 13.7054 17.6349C13.7054 18.6404 12.8874 19.4584 11.8819 19.4584C10.8764 19.4585 10.0584 18.6404 10.0584 17.6349ZM12.8851 17.6349C12.8851 17.0818 12.4351 16.6318 11.8819 16.6318C11.3288 16.6318 10.8788 17.0818 10.8788 17.6349C10.8788 18.188 11.3288 18.638 11.8819 18.638C12.4351 18.638 12.8851 18.188 12.8851 17.6349Z' fill='%23333333'/%3E%3Cpath d='M5.67088 14.4844C5.67088 13.4789 6.4889 12.6609 7.49438 12.6609C8.49991 12.6609 9.31793 13.4789 9.31793 14.4844C9.31793 15.4899 8.49991 16.3079 7.49438 16.3079C6.4889 16.3079 5.67088 15.4899 5.67088 14.4844ZM8.4976 14.4844C8.4976 13.9313 8.04757 13.4813 7.49443 13.4813C6.94129 13.4813 6.49131 13.9313 6.49131 14.4844C6.49131 15.0375 6.94129 15.4875 7.49443 15.4875C8.04757 15.4875 8.4976 15.0375 8.4976 14.4844Z' fill='%23333333'/%3E%3Cpath d='M6.12302 9.24098C6.12302 8.2355 6.94105 7.41748 7.94653 7.41748C8.95206 7.41748 9.77008 8.2355 9.77008 9.24098C9.77008 10.2465 8.95206 11.0645 7.94653 11.0645C6.94105 11.0645 6.12302 10.2465 6.12302 9.24098ZM8.94975 9.24098C8.94975 8.68784 8.49972 8.23786 7.94658 8.23786C7.39344 8.23786 6.94346 8.68784 6.94346 9.24098C6.94346 9.79413 7.39344 10.2441 7.94658 10.2441C8.49972 10.2441 8.94975 9.79413 8.94975 9.24098Z' fill='%23333333'/%3E%3Cpath d='M10.7763 6.87367C10.7763 5.86819 11.5943 5.05017 12.5998 5.05017C13.6053 5.05017 14.4233 5.86819 14.4233 6.87367C14.4233 7.87915 13.6053 8.69718 12.5998 8.69718C11.5943 8.69718 10.7763 7.87915 10.7763 6.87367ZM13.603 6.87367C13.603 6.32053 13.153 5.87055 12.5998 5.87055C12.0467 5.87055 11.5967 6.32053 11.5967 6.87367C11.5967 7.42682 12.0467 7.8768 12.5998 7.8768C13.153 7.8768 13.603 7.42682 13.603 6.87367Z' fill='%23333333'/%3E%3Cpath d='M15.5082 8.94338C15.5082 7.9379 16.3262 7.11987 17.3317 7.11987C18.3372 7.11987 19.1552 7.9379 19.1552 8.94338C19.1552 9.94886 18.3372 10.7669 17.3317 10.7669C16.3262 10.7669 15.5082 9.94891 15.5082 8.94338ZM18.3349 8.94338C18.3349 8.39023 17.8849 7.94025 17.3317 7.94025C16.7786 7.94025 16.3286 8.39023 16.3286 8.94338C16.3286 9.49652 16.7786 9.9465 17.3317 9.9465C17.8849 9.9465 18.3349 9.49652 18.3349 8.94338Z' fill='%23333333'/%3E%3C/svg%3E%0A");
        }

        &:hover {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.03515 12.1843C3.03515 8.80789 5.03242 5.63147 7.96739 3.99322C11.0894 2.25058 15.2904 2.50398 18.148 4.66532C19.8044 5.9183 21.6413 8.15933 21.4987 10.3686C21.4409 11.2634 20.9438 12.0323 20.2675 12.5983C19.3258 13.3863 18.2982 13.311 17.1634 13.531C16.0315 13.7505 15.2138 13.9091 15.0067 14.3252C14.8543 14.6314 15.0731 15.1936 15.4704 16.2139C15.7345 16.8919 16.309 17.6249 16.2694 18.3745C16.2265 19.2012 15.651 19.9633 14.5591 20.6396C12.5743 21.8689 9.75956 21.424 7.85038 20.4379C4.92003 18.9244 3.03536 15.5995 3.03515 12.1843C3.03536 15.5995 3.03515 11.7176 3.03515 12.1843ZM20.6817 10.1734C20.6817 8.62448 19.2657 6.53943 17.6531 5.31968C15.2148 3.47541 11.7961 3.18269 9.01583 4.39265C6.41322 5.52534 4.3898 8.10759 3.95346 10.9102C3.40299 14.445 5.20019 18.1458 8.22683 19.7091C9.87513 20.5604 12.4246 20.9966 14.1271 19.9422C15.1855 19.2867 15.4308 18.7047 15.4501 18.332C15.4783 17.7687 14.9067 17.0271 14.706 16.5117C14.2237 15.2733 13.9579 14.5911 14.2722 13.9597C14.6598 13.181 15.5936 12.9998 17.0073 12.7258C17.8897 12.5546 18.7603 12.6664 19.5358 12.1249C20.184 11.6721 20.6817 10.9874 20.6817 10.1734Z' fill='%23005df7'/%3E%3Cpath d='M10.0584 17.6349C10.0584 16.6294 10.8764 15.8114 11.8819 15.8114C12.8874 15.8114 13.7054 16.6294 13.7054 17.6349C13.7054 18.6404 12.8874 19.4584 11.8819 19.4584C10.8764 19.4585 10.0584 18.6404 10.0584 17.6349ZM12.8851 17.6349C12.8851 17.0818 12.4351 16.6318 11.8819 16.6318C11.3288 16.6318 10.8788 17.0818 10.8788 17.6349C10.8788 18.188 11.3288 18.638 11.8819 18.638C12.4351 18.638 12.8851 18.188 12.8851 17.6349Z' fill='%23005df7'/%3E%3Cpath d='M5.67088 14.4844C5.67088 13.4789 6.4889 12.6609 7.49438 12.6609C8.49991 12.6609 9.31793 13.4789 9.31793 14.4844C9.31793 15.4899 8.49991 16.3079 7.49438 16.3079C6.4889 16.3079 5.67088 15.4899 5.67088 14.4844ZM8.4976 14.4844C8.4976 13.9313 8.04757 13.4813 7.49443 13.4813C6.94129 13.4813 6.49131 13.9313 6.49131 14.4844C6.49131 15.0375 6.94129 15.4875 7.49443 15.4875C8.04757 15.4875 8.4976 15.0375 8.4976 14.4844Z' fill='%23005df7'/%3E%3Cpath d='M6.12302 9.24098C6.12302 8.2355 6.94105 7.41748 7.94653 7.41748C8.95206 7.41748 9.77008 8.2355 9.77008 9.24098C9.77008 10.2465 8.95206 11.0645 7.94653 11.0645C6.94105 11.0645 6.12302 10.2465 6.12302 9.24098ZM8.94975 9.24098C8.94975 8.68784 8.49972 8.23786 7.94658 8.23786C7.39344 8.23786 6.94346 8.68784 6.94346 9.24098C6.94346 9.79413 7.39344 10.2441 7.94658 10.2441C8.49972 10.2441 8.94975 9.79413 8.94975 9.24098Z' fill='%23005df7'/%3E%3Cpath d='M10.7763 6.87367C10.7763 5.86819 11.5943 5.05017 12.5998 5.05017C13.6053 5.05017 14.4233 5.86819 14.4233 6.87367C14.4233 7.87915 13.6053 8.69718 12.5998 8.69718C11.5943 8.69718 10.7763 7.87915 10.7763 6.87367ZM13.603 6.87367C13.603 6.32053 13.153 5.87055 12.5998 5.87055C12.0467 5.87055 11.5967 6.32053 11.5967 6.87367C11.5967 7.42682 12.0467 7.8768 12.5998 7.8768C13.153 7.8768 13.603 7.42682 13.603 6.87367Z' fill='%23005df7'/%3E%3Cpath d='M15.5082 8.94338C15.5082 7.9379 16.3262 7.11987 17.3317 7.11987C18.3372 7.11987 19.1552 7.9379 19.1552 8.94338C19.1552 9.94886 18.3372 10.7669 17.3317 10.7669C16.3262 10.7669 15.5082 9.94891 15.5082 8.94338ZM18.3349 8.94338C18.3349 8.39023 17.8849 7.94025 17.3317 7.94025C16.7786 7.94025 16.3286 8.39023 16.3286 8.94338C16.3286 9.49652 16.7786 9.9465 17.3317 9.9465C17.8849 9.9465 18.3349 9.49652 18.3349 8.94338Z' fill='%23005df7'/%3E%3C/svg%3E%0A");
          }
        }
      }

      &.wysiwyg-editor {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M21.4541 5.32753C21.428 5.32753 21.428 5.30141 21.4019 5.2753C21.3758 5.24918 21.3758 5.22307 21.3497 5.19695L16.8578 0.156692C16.8317 0.130577 16.7795 0.104461 16.7534 0.078346C16.7273 0.078346 16.7273 0.0522307 16.7011 0.0522307C16.6489 0.0261153 16.5706 0 16.4922 0H5.47154C3.85239 0 2.52051 1.33188 2.52051 2.95103V21.049C2.52051 22.6681 3.85239 24 5.47154 24H18.5292C20.1484 24 21.4802 22.6681 21.4802 21.049V5.51034C21.4802 5.45811 21.4541 5.37976 21.4541 5.32753ZM16.9884 1.77584L19.8872 5.04026H16.9884V1.77584ZM20.4879 21.0229C20.4879 22.1197 19.6261 23.0076 18.5292 23.0076H5.47154C4.3747 23.0076 3.51289 22.1197 3.51289 21.049V2.92492C3.51289 1.82807 4.40081 0.966268 5.47154 0.966268H15.996V5.51034C15.996 5.77149 16.2049 6.00653 16.4922 6.00653H20.4879V21.0229Z' fill='%23333333'/%3E%3Cpath d='M6.046 6.00654H10.4073C10.6684 6.00654 10.9035 5.79762 10.9035 5.51035C10.9035 5.22308 10.6945 5.01416 10.4073 5.01416H6.046C5.78484 5.01416 5.5498 5.22308 5.5498 5.51035C5.5498 5.79762 5.78484 6.00654 6.046 6.00654Z' fill='%23333333'/%3E%3Cpath d='M10.4073 17.9932H6.046C5.78484 17.9932 5.5498 18.2021 5.5498 18.4894C5.5498 18.7505 5.75873 18.9855 6.046 18.9855H10.4073C10.6684 18.9855 10.9035 18.7766 10.9035 18.4894C10.9035 18.2282 10.6684 17.9932 10.4073 17.9932Z' fill='%23333333'/%3E%3Cpath d='M5.5498 8.80088C5.5498 9.06203 5.75873 9.29706 6.046 9.29706H17.6934C17.9546 9.29706 18.1896 9.08814 18.1896 8.80088C18.1896 8.53972 17.9807 8.30469 17.6934 8.30469H6.046C5.78484 8.30469 5.5498 8.51361 5.5498 8.80088Z' fill='%23333333'/%3E%3Cpath d='M17.6934 10.7598H6.046C5.78484 10.7598 5.5498 10.9687 5.5498 11.256C5.5498 11.5171 5.75873 11.7521 6.046 11.7521H17.6934C17.9546 11.7521 18.1896 11.5432 18.1896 11.256C18.1896 10.9687 17.9807 10.7598 17.6934 10.7598Z' fill='%23333333'/%3E%3Cpath d='M17.6934 13.1885H6.046C5.78484 13.1885 5.5498 13.3974 5.5498 13.6847C5.5498 13.9458 5.75873 14.1808 6.046 14.1808H17.6934C17.9546 14.1808 18.1896 13.9719 18.1896 13.6847C18.1896 13.3974 17.9807 13.1885 17.6934 13.1885Z' fill='%23333333'/%3E%3Cpath d='M17.6934 15.6167H6.046C5.78484 15.6167 5.5498 15.8256 5.5498 16.1129C5.5498 16.374 5.75873 16.6091 6.046 16.6091H17.6934C17.9546 16.6091 18.1896 16.4002 18.1896 16.1129C18.1896 15.8517 17.9807 15.6167 17.6934 15.6167Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        &:hover {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M21.4541 5.32753C21.428 5.32753 21.428 5.30141 21.4019 5.2753C21.3758 5.24918 21.3758 5.22307 21.3497 5.19695L16.8578 0.156692C16.8317 0.130577 16.7795 0.104461 16.7534 0.078346C16.7273 0.078346 16.7273 0.0522307 16.7011 0.0522307C16.6489 0.0261153 16.5706 0 16.4922 0H5.47154C3.85239 0 2.52051 1.33188 2.52051 2.95103V21.049C2.52051 22.6681 3.85239 24 5.47154 24H18.5292C20.1484 24 21.4802 22.6681 21.4802 21.049V5.51034C21.4802 5.45811 21.4541 5.37976 21.4541 5.32753ZM16.9884 1.77584L19.8872 5.04026H16.9884V1.77584ZM20.4879 21.0229C20.4879 22.1197 19.6261 23.0076 18.5292 23.0076H5.47154C4.3747 23.0076 3.51289 22.1197 3.51289 21.049V2.92492C3.51289 1.82807 4.40081 0.966268 5.47154 0.966268H15.996V5.51034C15.996 5.77149 16.2049 6.00653 16.4922 6.00653H20.4879V21.0229Z' fill='%23005df7'/%3E%3Cpath d='M6.046 6.00654H10.4073C10.6684 6.00654 10.9035 5.79762 10.9035 5.51035C10.9035 5.22308 10.6945 5.01416 10.4073 5.01416H6.046C5.78484 5.01416 5.5498 5.22308 5.5498 5.51035C5.5498 5.79762 5.78484 6.00654 6.046 6.00654Z' fill='%23005df7'/%3E%3Cpath d='M10.4073 17.9932H6.046C5.78484 17.9932 5.5498 18.2021 5.5498 18.4894C5.5498 18.7505 5.75873 18.9855 6.046 18.9855H10.4073C10.6684 18.9855 10.9035 18.7766 10.9035 18.4894C10.9035 18.2282 10.6684 17.9932 10.4073 17.9932Z' fill='%23005df7'/%3E%3Cpath d='M5.5498 8.80088C5.5498 9.06203 5.75873 9.29706 6.046 9.29706H17.6934C17.9546 9.29706 18.1896 9.08814 18.1896 8.80088C18.1896 8.53972 17.9807 8.30469 17.6934 8.30469H6.046C5.78484 8.30469 5.5498 8.51361 5.5498 8.80088Z' fill='%23005df7'/%3E%3Cpath d='M17.6934 10.7598H6.046C5.78484 10.7598 5.5498 10.9687 5.5498 11.256C5.5498 11.5171 5.75873 11.7521 6.046 11.7521H17.6934C17.9546 11.7521 18.1896 11.5432 18.1896 11.256C18.1896 10.9687 17.9807 10.7598 17.6934 10.7598Z' fill='%23005df7'/%3E%3Cpath d='M17.6934 13.1885H6.046C5.78484 13.1885 5.5498 13.3974 5.5498 13.6847C5.5498 13.9458 5.75873 14.1808 6.046 14.1808H17.6934C17.9546 14.1808 18.1896 13.9719 18.1896 13.6847C18.1896 13.3974 17.9807 13.1885 17.6934 13.1885Z' fill='%23005df7'/%3E%3Cpath d='M17.6934 15.6167H6.046C5.78484 15.6167 5.5498 15.8256 5.5498 16.1129C5.5498 16.374 5.75873 16.6091 6.046 16.6091H17.6934C17.9546 16.6091 18.1896 16.4002 18.1896 16.1129C18.1896 15.8517 17.9807 15.6167 17.6934 15.6167Z' fill='%23005df7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          }
        }
      }

    }
  }
}

.djs-palette {
  .djs-palette-entries {
    .group[data-group="tools"] {
      position: relative;
      display: inline-block;

      hr {
        display: none !important;
      }

      &:after {
        content: '';
        background: #aaaaaa;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
}

.bpp-properties-entry {
  .bpp-field-wrapper {
    display: flex;

    input {
      padding-right: 6px;
    }

    button {
      &.openWysiwygEditor {
        position: static;
        height: auto;
        width: auto;
        padding: 0;

        > span {
          display: inline-flex;
          height: 100%;
          align-items: center;
          padding: 0 6px;
        }
      }
    }
  }
}

#bpmn-canvas {
  &.lockedBy {
    @include locked;

    * {
      @include locked;
    }
  }

  .bjs-powered-by {
    display: none !important;
  }
}

#bpmn-properties {
  &.lockedBy {
    display: none !important;
    @include locked;
  }
}
