@import "../breakpoints";

.mat-h6, .mat-typography h6 {
  font-size: 16px;
  margin: 0 0 16px;
  font-weight: bold;

  @media screen and (max-width: $tablet-medium - 1px) {
    font-size: 15px;
    margin: 0 0 12px;
  }
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  @media screen and (max-width: $tablet-medium - 1px) {
    font: 700 20px/24px NovaPoshta;
    letter-spacing: normal;
    margin: 0 0 12px;
  }
}
