@import "../../../assets/styles/breakpoints";

mat-form-field {
  &.mat-form-field-appearance-outline {
    width: 100%;
    margin-bottom: 1.34375em;

    .mat-form-field-subscript-wrapper {
      padding: 0;
    }

    &.input-type-search {
      &.has-value {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            .mat-form-field-outline {
              background: var(--np-ghost-white);
              border-radius: 5px;
            }
          }
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;

        .mat-form-field-flex {

          &:focus-within {
            .mat-form-field-outline {
              background: var(--np-ghost-white);
              border-radius: 5px;
            }
          }

          .mat-form-field-outline {
            .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
              border-width: 0 !important;
            }
          }
        }
      }
    }

    &:not(.mat-form-field-disabled) {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          &:hover, &:focus-within {
            .mat-form-field-outline {
              color: var(--np-roman-silver);
            }
          }
        }
      }
    }

    &.smaller-height {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          margin-top: 0;

          .mat-form-field-infix {
            padding: 10px 0 10px 0;
          }
        }
      }
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-flex {
        padding: 0 16px;
        align-items: center;

        @media screen and (max-width: $tablet-medium - 1px) {
          padding: 0 12px;
        }

        .mat-form-field-infix {
          border-top: 0;
          padding: 12px 0 12px 0;

          input {
            &.mat-input-element {
              font-size: 14px;
              color: var(--np-mako);

              @media screen and (max-width: $tablet-medium - 1px) {
                font-size: 13px;
              }

              &:disabled {
                color: var(--np-roman-silver);
              }
            }
          }

          &.np-mat-errors {
            np-mat-errors {
              position: absolute;
              left: -15px;
              top: 100%;
              font-size: 12px;
              line-height: 18px;
              padding-top: 2px;
              width: calc(100% + 30px);

              mat-error {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .mat-form-field-outline {
          top: 0;
          color: var(--np-geyser);
          transition: var(--np-base-transition);

          &.mat-form-field-outline-thick {
            .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
              border-width: 1px;
            }
          }
        }

        .mat-form-field-prefix {
          top: 0;
          margin-right: 8px;
        }

        .mat-form-field-suffix {
          top: 0;
          margin-left: 8px;
        }
      }

      .mat-form-field-subscript-wrapper {
        top: 100%;
      }
    }

    &.mat-form-field-invalid {
      .mat-form-field-flex {
        .mat-form-field-outline {
          color: var(--np-crimson) !important;
        }

        .mat-form-field-infix {
          input.mat-input-element {
            color: var(--np-crimson);
          }
        }
      }
    }
  }

  &.pb-0 {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

np-input {
  display: block;

  mat-label {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--np-gunmetal);

    label {
      margin-bottom: 0;
    }
  }
}

mat-label {
  font-size: 12px;
  line-height: 16px;
  color: var(--np-roman-silver);
  font-weight: normal;
  margin-bottom: 6px;
  display: block;
}

.form-group {
  &.has-errors {
    mat-label {
      color: var(--np-crimson);
    }
  }
}

.merged-fields {
  display: flex;

  mat-form-field {
    &:nth-child(1) {
      &.mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            .mat-form-field-outline {
              .mat-form-field-outline-end {
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }
        }
      }
    }

    &:nth-child(2) {
      &.mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            .mat-form-field-outline {
              .mat-form-field-outline-start {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
}
