.mat-autocomplete-panel {

  &:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 5px rgba(74, 84, 97, 0.1);
  }

  mat-optgroup {

    .mat-optgroup-label {
      font-size: 16px;
      color: var(--np-roman-silver);
      font-weight: 500;
    }

    mat-option {
      font-size: 16px;
      color: var(--np-black);
      padding: 0 16px !important;
      line-height: 56px;
      height: 56px;

      .mat-option-text {
        display: inline-flex;
        align-items: center;

        mat-icon {
          width: 28px;
          height: auto;
          margin-right: 12px;
        }
      }
    }
  }
}
