@import "../breakpoints";

.mat-autocomplete-panel {

  &:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 5px rgba(74, 84, 97, 0.1);
  }

  &.sticky-pseudo-header {
    .pseudo-header {
      position: sticky;
      top: 0;
      z-index: 1;
      background: var(--np-primary-white);
    }
  }

  &.sticky-pseudo-footer {
    .pseudo-footer {
      position: sticky;
      bottom: 0;
      z-index: 1;
      background: var(--np-primary-white);
    }
  }

  mat-optgroup, mat-option {
    &.hide-label {
      .mat-optgroup-label {
        display: none !important;
      }
    }

    .mat-optgroup-label {
      font-size: 16px;
      color: var(--np-roman-silver);
      font-weight: 500;

      @media screen and (max-width: $notebook) {
        font-size: 15px;
      }

      @media screen and (max-width: $tablet-medium - 1px) {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
      }
    }
  }

  mat-option {
    color: var(--np-black);
    padding: 0 16px !important;

    &:not(.sm) {
      font-size: 16px;
      line-height: 56px;
      height: 56px;
    }

    &.sm {
      height: 38px;
      line-height: 38px;
      font-size: 14px;
    }

    &.selected {
      background: var(--np-ghost-white);
    }

    &.mat-option-disabled {
      &.pseudo-disabled {
        color: inherit;

        &:not(.pseudo-footer):not(.pseudo-header):not(.entity-type--process):not(.pseudo-body) {
          cursor: pointer;

          &:hover {
            background: var(--np-ghost-white);
          }
        }
      }
    }

    &.pseudo-footer {
      height: 72px;
      line-height: 72px;
      border-top: 1px solid var(--np-silver-sand);

      .mat-option-text {
        justify-content: flex-end;
      }
    }

    &.pseudo-header {
      .mat-option-text {
        overflow: visible;
      }

      button {
        padding: 0;
        min-width: 30px;
        line-height: 30px;
        height: 30px;

        & + .mat-optgroup-label {
          margin-left: 5px;
        }

        & + mat-form-field {
          margin-left: 10px;
        }
      }
    }

    &.pseudo-body {
      height: 120px;

      .mat-option-text {
        justify-content: center;
        color: var(--np-roman-silver);

        .error-label {
          color: var(--np-crimson);
        }

        .pseudo-body-label {
          display: block;
          text-align: center;
          line-height: 1.5;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
    }

    &.user {
      .mat-option-text {
        display: flex;

        > span {
          padding-left: 8px;
          line-height: 1.2;

          small {
            display: block;
            font-size: 14px;
            color: var(--np-roman-silver);
          }
        }
      }
    }

    @media screen and (max-width: $notebook) {
      font-size: 15px;
    }

    @media screen and (max-width: $tablet-medium - 1px) {
      font-size: 12px;
      line-height: 46px;
      height: 46px;
      padding: 0 10px !important;
    }

    .mat-option-text {
      display: inline-flex;
      align-items: center;
      width: 100%;

      > mat-icon {
        width: 28px;
        height: auto;
        margin: 0;

        & + span {
          margin-left: 12px;
        }

        @media screen and (max-width: $tablet-medium - 1px) {
          width: 22px;
          margin-right: 8px;
        }
      }
    }
  }

  &.pseudo-explorer {
    mat-option {
      &:not(.pseudo-header):not(.pseudo-body):not(.pseudo-footer) {
        height: 38px;
        line-height: 38px;
      }

      &.pseudo-header {
        height: 48px;
        line-height: 48px;
      }

      mat-icon {
        &:last-child {
          margin-right: -10px;
        }
      }
    }
  }
}

.cdk-overlay-pane{
  &.mat-autocomplete-panel-above {
    .mat-autocomplete-panel {
      &.border-gutter {
        margin-bottom: 1px;
      }
    }
  }
  &:not(.mat-autocomplete-panel-above) {
    .mat-autocomplete-panel {
      &.border-gutter {
        margin-top: 1px;
      }
    }
  }
}


