@import "../breakpoints";

snack-bar-container {
  &.mat-snack-bar-container {
    min-width: auto;
    min-height: auto;
    background: var(--np-gunmetal);
    color: var(--np-primary-white);
    padding: 6px 16px;
    box-shadow: none;

    @media screen and (max-width: $tablet-medium - 1px) {
      padding: 4px 10px;
      simple-snack-bar {
        &.mat-simple-snackbar {
          font-size: 12px;
        }
      }
    }

    &.modeler-toast {
      margin-top: 170px;

      @media screen and (max-width: $tablet-medium - 1px) {
        margin-top: 140px;
      }
    }
  }
}
