<div class="container-fluid mw-100">
  <div class="row align-items-center">
    <div class="col-auto">
      <div class="row align-items-center">
        <div class="col-auto pr-0">
          <h5
            #fileName
            class="mb-0 file-name"
            contenteditable="true"
            (keydown.enter)="$event.preventDefault(); fileName.blur()"
            (blur)="showSavedLabel = true">
            {{file?.name || ('common.newFile' | translate)}}
          </h5>
        </div>
        <div class="col-auto" *ngIf="file?.name !== fileName?.innerText && showSavedLabel">
          <span class="draft-status">
            {{'common.draftSaved' | translate}}
          </span>
        </div>
      </div>
      <np-file-top-toolbar
        [file]="file">
      </np-file-top-toolbar>
    </div>
    <div class="col">
      <div class="row justify-content-end align-items-center md-gutters">
        <div class="col-auto">
          <np-button
            [autoMinWidth]="true"
            [type]="'default'"
            [disabled]="true"
            [size]="'sm'">
            <mat-icon>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM11.78 7H11.72C11.32 7 11 7.32 11 7.72V12.44C11 12.79 11.18 13.12 11.49 13.3L15.64 15.79C15.98 15.99 16.42 15.89 16.62 15.55C16.83 15.21 16.72 14.76 16.37 14.56L12.5 12.26V7.72C12.5 7.32 12.18 7 11.78 7Z"
                  fill="#8A95A3"/>
              </svg>
            </mat-icon>
            <span class="d-xl-inline-block d-none">
              {{'common.versionsHistory' | translate}}
            </span>
          </np-button>
        </div>
        <div class="col-auto">
          <np-button
            [type]="'secondary'"
            [disabled]="true"
            [size]="'sm'">
            {{'common.saveVersion' | translate}}
          </np-button>
        </div>
        <div class="col-auto">
          <np-button
            [autoMinWidth]="true"
            [type]="'secondary'"
            [disabled]="true"
            [size]="'sm'">
            <mat-icon>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16 11C17.66 11 18.99 9.66 18.99 8C18.99 6.34 17.66 5 16 5C14.34 5 13 6.34 13 8C13 9.66 14.34 11 16 11ZM8 11C9.66 11 10.99 9.66 10.99 8C10.99 6.34 9.66 5 8 5C6.34 5 5 6.34 5 8C5 9.66 6.34 11 8 11ZM8 13C5.67 13 1 14.17 1 16.5V18C1 18.55 1.45 19 2 19H14C14.55 19 15 18.55 15 18V16.5C15 14.17 10.33 13 8 13ZM16 13C15.71 13 15.38 13.02 15.03 13.05C15.05 13.06 15.06 13.08 15.07 13.09C16.21 13.92 17 15.03 17 16.5V18C17 18.35 16.93 18.69 16.82 19H22C22.55 19 23 18.55 23 18V16.5C23 14.17 18.33 13 16 13Z"
                  fill="#8A95A3"/>
              </svg>
            </mat-icon>
            <span class="d-xl-inline-block d-none">
               {{'common.grantAccess' | translate}}
            </span>
          </np-button>
        </div>
        <div class="col-auto">
          <np-button
            [disabled]="true"
            [type]="'primary'"
            [size]="'sm'">
            {{'common.launch' | translate}}
          </np-button>
        </div>
      </div>
    </div>
  </div>
</div>

<np-bpmn-editor
  [data]="file">
</np-bpmn-editor>

