@import "../../../../assets/styles/breakpoints";

.container-fluid {
  padding-left: 34px;
  padding-right: 34px;
  margin-top: -38px;

  @media screen and (max-width: $tablet-medium - 1px) {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .file-name {
    color: var(--np-gunmetal);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    transition: var(--np-base-transition);
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: -4px;

    @media screen and (max-width: $tablet-medium - 1px) {
      font-size: 14px;
    }

    &:hover {
      background: var(--np-catskill-white);
    }

    &:focus {
      background: var(--np-catskill-white-2);
      outline: none !important;
      cursor: auto;
    }
  }

  .draft-status {
    font-size: 14px;
    color: var(--np-roman-silver);
  }

  np-file-top-toolbar {
    display: block;
  }
}

np-bpmn-editor {
  display: block;
  overflow-x: hidden;
}
