<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 col-12">
      <div class="row align-items-center">
        <div class="col-auto pr-0">
          <h5 class="mb-0 file-name">
            {{file.name}}
          </h5>
        </div>
        <div class="col-auto">
          <span class="draft-status">
            {{'common.draftSaved' | translate}}
          </span>
        </div>
      </div>
      <np-file-top-toolbar></np-file-top-toolbar>
    </div>
    <div class="col-md-6 col-12">

    </div>
  </div>
</div>
