<div
  *ngIf="workgroup"
  class="d-flex align-items-center"
  [ngClass]="{'active': EntityPermissionLevel.OWNER === workgroup.level.code}">
  <np-avatar
    [data]="workgroup.user.fullName | acronym : 2"
    [type]="'initials'"
    npUserInfoTooltip
    [id]="workgroup.user.id">
  </np-avatar>
  <p class="mb-0">
    {{(workgroup.user.fullName) }}
  </p>
  <ng-container *ngIf="loader; else permissionTemplate">
    <mat-spinner [diameter]="20"></mat-spinner>
  </ng-container>
</div>

<ng-template #permissionTemplate>
  <ng-container
    *ngIf="EntityPermissionLevel.OWNER === workgroup.level.code || (!folderId || !processId); else notOwnerTemplate">
    <span>
      {{'permissions.' + workgroup.level.code | translate}}
    </span>
  </ng-container>
  <ng-template #notOwnerTemplate>
    <button
      mat-button
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
      [ngClass]="{
        'menu-opened': menuTrigger.menuOpen
       }">
      {{'permissions.' + workgroup.level.code | translate}}
      <mat-icon>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6.70978 9.31C7.09978 8.92 7.72978 8.92 8.11978 9.31L11.9998 13.19L15.8798 9.31C16.2698 8.92 16.8998 8.92 17.2898 9.31C17.6798 9.7 17.6798 10.33 17.2898 10.72L12.6998 15.31C12.3098 15.7 11.6798 15.7 11.2898 15.31L6.69978 10.72C6.31978 10.34 6.31978 9.7 6.70978 9.31Z"
            fill="#8A95A3"/>
        </svg>
      </mat-icon>
    </button>
  </ng-template>
</ng-template>

<mat-menu
  class="permissions-menu"
  #menu="matMenu"
  [xPosition]="'before'">
  <ng-container
    *ngFor="let permission of permissions">
    <button
      *ngIf="permission"
      mat-menu-item
      (click)="changePermission(permission)">
      <span>
        {{'permissions.' + permission | translate}}
      </span>
    </button>
  </ng-container>
  <mat-divider></mat-divider>
  <button
    mat-menu-item
    (click)="deleteUser()">
    <span>
      {{'common.delete' | translate}}
    </span>
  </button>
</mat-menu>
