@import "assets/styles/index";

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'NovaPoshta', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--np-black);
  word-break: break-word;

  button, a {
    appearance: none;

    &:focus {
      outline: none;
    }
  }
}
