@import "assets/styles/index";

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'NovaPoshta', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--np-black);
  background: var(--np-white-lilac);
  word-break: break-word;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  button, a {
    appearance: none;

    &:focus {
      outline: none;
    }
  }
}

np-status-pill, np-avatar {
  display: inline-flex;
}
