@import "keyframes";
@import "breakpoints";

@mixin skeleton {
  background: var(--np-primary-white);
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: skeletonLoading 2s infinite;
    z-index: 1;
  }

  span {
    background: var(--np-desert-storm);
    display: inline-block;
  }
}

@mixin headerMainHeight {
  height: 64px;

  @media screen and (max-width: $tablet-medium - 1px) {
    height: 56px;
  }
}

@mixin headerTab {
  .tab {
    @include headerMainHeight;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    transition: var(--np-base-transition);

    &.active {
      background: var(--np-white-lilac);
    }

    @content;
  }
}

@mixin headerRow {
  .row {

    @media screen and (max-width: $tablet-medium - 1px) {
      margin-left: -10px;
      margin-right: -10px;

      .col, .col-auto {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @content;
  }
}
