@import "keyframes";

@mixin skeleton {
  background: var(--np-primary-white);
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: skeletonLoading 2s infinite;
    z-index: 1;
  }

  span {
    background: var(--np-desert-storm);
    display: inline-block;
  }
}
