:root {
  --np-primary-white: #ffffff;
  --np-black: #000000;
  --np-gunmetal: #2e3742;
  --np-raisin-black: #1F2632;
  --np-silver-sand: #B8C1CB;
  --np-roman-silver: #8A95A3;
  --np-catskill-white: #F5F7FA;
}
