:root {
  --np-base-transition: 0.2s ease-in-out;
  --np-primary-white: #ffffff;
  --np-black: #000000;
  --np-gunmetal: #2E3742;
  --np-raisin-black: #1F2632;
  --np-silver-sand: #B8C1CB;
  --np-roman-silver: #8A95A3;
  --np-ghost-white: #F5F7FA;
  --np-catskill-white: #E7EDF5;
  --np-mako: #404852;
  --np-mako-900: rgba(64, 72, 82, 0.9);
  --np-serenade: #FFF4E5;
  --np-pizazz: #FF9500;
  --np-ottoman: #EBF9EE;
  --np-emerald: #34C759;
  --np-whisper: #F6F7FA;
  --np-white-lilac: #F9FAFD;
  --np-pale-sky: #627185;
  --np-geyser: #DBE1E8;
  --np-crimson: #ED1C24;
  --np-hit-gray: #ACB4BD;
}
