<div mat-dialog-title>
  <h4>{{'common.savingVersion' | translate}}</h4>
</div>
<mat-dialog-content>
  <form
    [formGroup]="form"
    (submit)="saveVersion()">
    <div
      class="form-group mb-0">
      <mat-label>{{"common.name" | translate}}</mat-label>
      <mat-form-field
        appearance="outline"
        floatLabel="never">
        <input
          type="text"
          matInput
          [formControlName]="formControlName.NAME"
          [attr.name]="formControlName.NAME"
          [placeholder]="'common.enterName' | translate">
        <mat-error *ngIf="form.get(formControlName.NAME).invalid">
          <ng-container *ngIf="form.get(formControlName.NAME).hasError('required') && !form.get(formControlName.NAME).hasError('maxLength')">
            {{'errors.required' | translate}}
          </ng-container>
          <ng-container *ngIf="form.get(formControlName.NAME).hasError('maxLength')">
            {{'errors.maxLength' | translate: {count: 72} }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div
      class="form-group mb-0">
      <mat-label>{{"common.description" | translate}}</mat-label>
      <mat-form-field
        appearance="outline"
        floatLabel="never">
        <textarea
          type="text"
          class="np-text-area"
          matInput
          [formControlName]="formControlName.DESCRIPTION"
          [attr.name]="formControlName.DESCRIPTION"
          [placeholder]="'common.descriptionThatChanged' | translate">
        </textarea>
        <mat-error *ngIf="form.get(formControlName.DESCRIPTION).invalid">
          <ng-container *ngIf="form.get(formControlName.DESCRIPTION).hasError('required')">
            {{'errors.required' | translate}}
          </ng-container>
          <ng-container *ngIf="form.get(formControlName.DESCRIPTION).hasError('maxLength')">
            {{'errors.maxLength' | translate: {count: 200} }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <np-button
    [minWidth]="true"
    [btnType]="'reset'"
    [type]="'secondary'"
    (click)="closeModal()">
    {{'common.cancel' | translate}}
  </np-button>
  <np-button
    [minWidth]="true"
    [btnType]="'submit'"
    [type]="'primary'"
    (click)="saveVersion()">
    <span>
      {{'common.save' | translate}}
    </span>
  </np-button>
</mat-dialog-actions>
